<header>
  <% include ./header %>
</header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
    aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/books">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/authors">Authors</a>
      </li>
    </ul>
  </div>
</nav>

<body>
  <div class="container">
    <div class="row">
      <div>
        <div class="card bg-light mb-3" style="max-width: 20rem;">
          <div class="card-header">Top Author of the Week</div>
          <div class="card-body">
            <h4 class="card-title">Author Name</h4>
            <p class="card-text">Some quick example text to build on details of the author, bet selling titles by the
              author.
            </p>
          </div>
        </div>
        <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
          <div class="card-header">Top Book of the Week</div>
          <div class="card-body">
            <h4 class="card-title">Book Name</h4>
            <p class="card-text">Some quick example text to build on book summary and author details.</p>
          </div>
        </div>
      </div>
      <div>
        <blockquote class="blockquote text-center">
          <br>
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>
</body>



<footer class ="footer">
  <% include ./footer %>
</footer>